@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.right,.logo{
padding:1%;
}

.logo a{
color: white;
    font-size: 20px;
    font-family: Dancing Script, sans-serif;
    text-decoration: none;


}

.right a{

    margin: 0 25px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: poppins;
    letter-spacing:2.5px;

}
.container{
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.hamburger{
display:none;
height:25px;

}

.hamItem{
    width: 47px;
    height: 4px;
    margin:9px;
    background: white;
}

.items{
    display: flex;
    position:relative;

}
.items li{
    text-decoration:none;
    list-style-type:none;
}
@media screen and (max-width:900px){
        .right a{
        flex-direction: column;
        }
        .items{

                flex-direction: column;
                background: blue;
                margin: auto;
                margin-top: 15%;
        }
        .item{
        margin: auto;
        text-align: center;
        }

        .hamburger{
        display: block;
        }


}