@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.right,.logo{
padding:1%;
}
.logo a{
color: white;
    font-size: 20px;
    font-family: Dancing Script, sans-serif;
    text-decoration: none;


}

.right a{

    margin: 0 25px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: poppins;
    letter-spacing:2.5px;

}
.container{
    margin: auto;
    display: flex;
    justify-content: space-between;
}